*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #171717;
	color: #fff;
}
.b{
	margin: 0 auto;
	width: 1140px;
}
.b1{
	color: #fff;
	display: flex;
	flex-flow: column;
}
.nav{
	display: flex;
	flex-flow: row;
	padding: 15px 0;
	list-style: none;
	align-items: center;
}
.nav .n1{
	flex: 1;
}
.nav img{
	width: 40px;
	height: 40px;
}
.nav .n2 i{
	font-size: 1.5em;
}
.nav .n2{
	flex: 1;
	text-align: center;
	color: #f7ac54;
}
.nav .n3{
	flex: 1;
	text-align: right;
	font-size: 0.8em;
}
.n3 i{
	color: #f7ac54;
}
.b2{
	display: flex;
	flex-flow: column;
	align-items: center;
	gap:20px;
}
.v1{
	border-left: 1px solid #f7ac54;
	height: 120px
}
.v2 p{
	color: #f7ac54;
	font-size: .9em;
}
.v3 h3{
	font-size: 2.5em;
	font-family: 'Tienne', serif;
	font-weight: 100;
	padding: 10px 0;
}
.b3{
	display: flex;
	flex-flow: row;
	padding-top: 100px;
	align-items: center;
}
.box{
	position: relative;
}
.i1{
	width: 300px;
	height: 300px;
	border-right: 1px solid #242121;
	border-bottom: 1px solid #242121;
	padding: 10px;
	position: relative;
	overflow: hidden;
}
.i1:hover::after {
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 1px;
  height: 26%;
  top: 0;
  left:0; 
}
.i1:hover::before{
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 29%;
  height: 1px;
  top: 0;
  left:0;
}
.i1::after {
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 0;
  height: 0;
  top: 0;
  left:0; 
  transition: 1s ease;
}
.i1::before{
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 0;
  height: 0;
  top: 0;
  left:0;
  transition: 1s ease;
}
.i14{
	position: absolute;
	left: 25%;
	top:42%;
	transition: .2s ease;
	opacity: 0;
	line-height: 1.8;
}
.i13{
    position: absolute;
    top: 74%;
    left: 22%;
    text-align: center;
    transition: .8s ease;
    transition-delay: .1s;
}
.i13 h3, .i131 h3, .i132 h3, .i133 h3{
	color: #f7ac54;
}
.i1:hover .i13, .i1:hover .i131,.i1:hover .i132,.i1:hover .i133{
	transform: rotateZ(90deg);
    position: absolute;
    left: -13%;
    top: 50%;
}
.i131{
    position: absolute;
    top: 74%;
    left: 26%;
    text-align: center;
    transition: .8s ease;
    transition-delay: .1s;
}
.i132{
    position: absolute;
    top: 74%;
    left: 27%;
    text-align: center;
    transition: .8s ease;
    transition-delay: .1s;
}
.i133{
    position: absolute;
    top: 74%;
    left: 29%;
    text-align: center;
    transition: .8s ease;
    transition-delay: .1s;
}
.i1:hover .i14{
	position: absolute;
	left:31%;
	top: 2%;
	opacity: .5;
	transition: .6s linear;
	transition-delay: 1s;
}
 .i1 img{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 22%;
    left: 25%;
    transition:  .8s ease;
    transition-delay: .1s;
    z-index: 99999;
}
.i1:hover img{
    top: 4%;
    left: 5%;
    width: 60px;
    height: 60px;
}